@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	/* color: black; */
	/* background-color: #303091; */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif !important;

	/* for signup page only */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif !important;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

* {
	/* margin: 0; */
	padding: 0px;
	box-sizing: border-box;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

/* login */
.login-container {
	padding-left: 50px;
	/* background: #303091; */
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 98vh;
	gap: 300px;
}
.login-logo-text {
	width: 630px;
	height: 361px;
	position: relative;
	display: flex;
	align-items: center;
}
.login-logo {
	width: 358px;
	height: 361px;
}
.login-text {
	margin-left: -50px;
	width: 344px;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.login-font-police {
	color: white;
	font-size: 100px;
	font-weight: 700;
	position: absolute;
	top: 40px;
	left: -4px;
}
.login-font-reporting {
	color: white;
	font-size: 50px;
	font-weight: 400;
	top: 140px;
	left: 0;
	position: absolute;
}
.login-font-ai {
	color: white;
	font-size: 30px;
	font-weight: 400;
	top: 203px;
	left: 3px;
	position: absolute;
	white-space: nowrap;
}
.login-font-system {
	color: white;
	font-size: 50px;
	font-weight: 400;
	top: 227px;
	left: 0;
	position: absolute;
}

.login-form {
	justify-content: center;
	align-items: center;
	gap: 10px;
	display: flex;
	transform: translate(-115px);
}

.login-form-container {
	width: 550px;
	height: 593px;
	position: relative;
}

.login-form-bg {
	width: 550px;
	height: 593px;
	left: 0px;
	top: 0px;
	position: absolute;
	background: white;
	box-shadow: 0px 10px 75px rgba(0, 68, 204, 0.25);
	border-radius: 8px;
}
.login-login-button {
	width: 200px;
	height: 35px;
	position: absolute;
	left: 175px;
	top: 440px;
	background: #0044cc;
	color: white;
	border: none;
	border-radius: 8px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.4s;
}
.login-form-or {
	left: 269px;
	top: 489px;
	position: absolute;
	text-align: center;
	color: black;
	font-size: 10.24px;
	font-weight: 400;
	word-wrap: break-word;
}

.login-register-button {
	width: 200px;
	height: 35px;
	position: absolute;
	left: 175px;
	top: 514px;
	background: #0044cc;
	color: white;
	border: none;
	border-radius: 8px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	font-size: 16px;
	font-weight: 700;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.4s;
}

.login-username-id {
	width: 290px;
	height: 35px;
	left: 130px;
	top: 342px;
	position: absolute;

	.login-username-id-textfield {
		width: 100%;
		height: 100%;
		background: white;
		border-radius: 8px;
		border: 1px #696969 solid;
		font-size: 12;
		color: rgba(0, 0, 0, 0.5);
		padding: 0 13px;
		box-sizing: border-box;
	}
}
.login-password {
	width: 100%;
	width: 290px;
	height: 35px;
	left: 130px;
	top: 392px;
	position: absolute;
}

.login-password-textfield {
	width: 100%;
	height: 100%;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	font-size: 12.8px;
	color: rgba(0, 0, 0, 0.5);
	padding: 0 13px;
	box-sizing: border-box;
}

.login-rightformmustache {
	width: 172px;
	height: 5px;
	left: 65px;
	top: 492px;
	position: absolute;
	background: black;
	border-radius: 30px;
}
.login-leftformmustache {
	width: 172px;
	height: 5px;
	left: 312px;
	top: 492px;
	position: absolute;
	background: black;
	border-radius: 30px;
}
.login-discription {
	width: 420px;
	left: 65px;
	top: 148px;
	position: absolute;
	text-align: justify;
	color: black;
	font-size: 20px;
	font-weight: 400;
	word-wrap: break-word;
}
.login-title {
	width: 419px;
	left: 65px;
	top: 45px;
	position: absolute;
	text-align: justify;
	color: black;
	font-size: 40px;
	font-weight: 700;
	word-wrap: break-word;
}
.login-subtitle {
	width: 415px;
	left: 69px;
	top: 93px;
	position: absolute;
	text-align: justify;
	color: black;
	font-size: 25px;
	font-weight: 500;
	word-wrap: break-word;
}

/* register/signup */

.user-signup-main-container {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	/* background: #303091; */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	display: inline-flex;
}

.user-signup-container {
	width: 1110px;
	height: 831px;
	position: relative;
}

.user-signup-title {
	left: 15px;
	top: 23px;
	position: absolute;
	/* color: white; */
	color: #000000;
	font-size: 100px;
	font-weight: 700;
	word-wrap: break-word;
}

.user-signup-left-form {
	width: 550px;
	height: 615px;
	left: 0px;
	top: 216px;
	position: absolute;
}

.user-signup-left-form-bg {
	width: 550px;
	height: 615px;
	left: 0px;
	top: 0px;
	position: absolute;
	background: white;
	box-shadow: -20px 20px 75px rgba(0, 68, 204, 0.25);
	border-radius: 8px;
}

.user-signup-username {
	width: 230px;
	left: 25px;
	top: 23px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-username-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 15px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-password {
	width: 230px;
	left: 25px;
	top: 73px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-password-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 65px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-repassword {
	width: 230px;
	left: 25px;
	top: 123px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-repassword-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 115px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-birthday {
	width: 230px;
	left: 25px;
	top: 173px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-birthday-textfield-l {
	width: 200px;
	height: 35px;
	left: 245px;
	top: 165px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-birthday-textfield-r {
	width: 80px;
	height: 35px;
	left: 455px;
	top: 165px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-gender {
	width: 230px;
	left: 25px;
	top: 223px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-gender-dropdown {
	width: 290px;
	height: 39px;
	left: 245px;
	top: 215px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-nationality {
	width: 230px;
	left: 25px;
	top: 273px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-nationality-dropdown {
	width: 290px;
	height: 39px;
	left: 245px;
	top: 265px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-descendants {
	width: 230px;
	left: 25px;
	top: 323px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-descendants-dropdown {
	width: 290px;
	height: 39px;
	left: 245px;
	top: 315px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-religion {
	width: 230px;
	left: 25px;
	top: 373px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-religion-dropdown {
	width: 290px;
	height: 39px;
	left: 245px;
	top: 365px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-phone-no {
	width: 230px;
	left: 25px;
	top: 423px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-phone-no-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 415px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-rephone-no {
	width: 230px;
	left: 25px;
	top: 473px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-rephone-no-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 465px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-housephone-no {
	width: 230px;
	left: 25px;
	top: 523px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-housephone-no-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 515px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-officephone-no {
	width: 230px;
	left: 25px;
	top: 573px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-officephone-no-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 565px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-right-form {
	width: 550px;
	height: 615px;
	left: 570px;
	top: 216px;
	position: absolute;
}

.user-signup-left-form-bg {
	width: 550px;
	height: 615px;
	left: 0px;
	top: 0px;
	position: absolute;
	background: white;
	box-shadow: 20px 20px 75px rgba(0, 68, 204, 0.25);
	border-radius: 8px;
}

.user-signup-address {
	width: 230px;
	left: 25px;
	top: 23px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-address-textfield-1 {
	width: 290px;
	height: 175px;
	left: 245px;
	top: 15px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-address-textfield-2 {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 65px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-address-textfield-3 {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 115px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-address-textfield-4 {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 165px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-address-textfield-5 {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 215px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-passcode {
	width: 230px;
	left: 25px;
	top: 273px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-passcode-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 265px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-state-region {
	width: 230px;
	left: 25px;
	top: 323px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-state-region-dropdown-1 {
	width: 292px;
	height: 39px;
	left: 245px;
	top: 315px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-state-region-dropdown-2 {
	width: 292px;
	height: 39px;
	left: 245px;
	top: 365px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-email {
	width: 230px;
	left: 25px;
	top: 423px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-email-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 415px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-reemail {
	width: 230px;
	left: 25px;
	top: 473px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-reemail-textfield {
	width: 290px;
	height: 35px;
	left: 245px;
	top: 465px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
}

.user-signup-red-text {
	width: 230px;
	left: 25px;
	top: 523px;
	position: absolute;
	color: #ff0000;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-signup-button {
	width: 205.4px;
	height: 35px;
	left: 331.2px;
	top: 565px;
	position: absolute;
	background: #0044cc;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding-left: 10px;
}

.user-signup-return-button {
	width: 205.4px;
	height: 35px;
	left: 15px;
	top: 565px;
	position: absolute;
	background: #0044cc;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding-left: 10px;
}

.user-signup-upper-form {
	width: 615px;
	height: 196px;
	left: 505px;
	top: 0px;
	position: absolute;
}

.user-signup-upper-form-bg {
	width: 615px;
	height: 196px;
	left: 0px;
	top: 0px;
	position: absolute;
	background: white;
	box-shadow: 0px -10px 75px rgba(0, 68, 204, 0.25);
	border-radius: 8px;
}

.user-signup-icid {
	width: 230px;
	left: 25px;
	top: 23px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-icid-textfield {
	width: 345px;
	height: 35px;
	left: 255px;
	top: 15px;
	position: absolute;
	background: white;
	border-radius: 8px;
	border: 1px #696969 solid;
	padding: 0 13px;
	padding: 0 13px;
}

.user-signup-icid-img {
	width: 230px;
	left: 25px;
	top: 73px;
	position: absolute;
	color: black;
	font-size: 16px;
	font-weight: 500;
	word-wrap: break-word;
}

.user-signup-icid-img-button {
	width: 200px;
	height: 35px;
	left: 323px;
	top: 65px;
	position: absolute;
	background: #0044cc;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding-left: 10px;
}

.user-signup-mustaches-right {
	width: 244px;
	height: 5px;
	left: 346px;
	top: 124px;
	position: absolute;
	background: black;
	border-radius: 30px;
}

.user-signup-or {
	width: 223px;
	height: 35px;
	left: 204px;
	top: 147px;
	position: absolute;
}

.user-signup-mustaches-left {
	width: 260px;
	height: 5px;
	left: 25px;
	top: 124px;
	position: absolute;
	background: black;
	border-radius: 30px;
}

.user-signup-icmissing-bg {
	width: 223px;
	height: 35px;
	left: 204px;
	top: 147px;
	position: absolute;
}

.user-signup-checkbox {
	width: 15px;
	height: 15px;
	left: -2.3px;
	top: 8.5px;
	transform: scale(1.2);
	position: absolute;
	background: white;
	border-radius: 6.68px;
	border: 1.67px #e0e4eb solid;
	outline: 3px;
	cursor: pointer;
}

.user-signup-checkbox-button {
	width: 200px;
	height: 35px;
	left: 23px;
	top: 0px;
	position: absolute;
	background: #ff0000;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding-left: 10px;
}

.user-signup-description {
	align-self: stretch;
	height: 23.47px;
	text-align: center;
	/* original color black */
	/* color: white; */
	color: white;
	font-size: 20px;
	font-weight: 400;
	word-wrap: break-word;
}

/* user navbar */

.user-navbar-container {
	/* width: 96%; */
	/* display: none; */
	height: 70px;
	background: #303091;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;

	/* floating navbar */
	position: fixed;
	top: 8px;
	/* Slightly adjust to leave space from the top */
	left: 8px;
	/* Adjusted to ensure it leaves a gap from the left */
	right: 8px;
	/* Ensure it doesn't stretch over the screen */
	z-index: 1000;
}
/* left */
.user-navbar-left {
	display: flex;
	align-items: center;
	/* padding-left: 1rem; */
}
.user-navbar-logo {
	width: 50px;
	height: 50px;
	border-radius: 8px;
	margin-right: 10px;
}
.user-navbar-title {
	color: white;
	font-size: 27px;
	font-weight: 700;
}
.user-navbar-subtitle {
	color: white;
	font-size: 13px;
	font-weight: 400;
	padding-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
}
/* right */
.user-navbar-links {
	display: flex;
	gap: 50px;
	color: white;
	font-size: 16px;
	font-weight: 500;
	align-items: center;
}
.user-navbar-items {
	cursor: pointer;
}

/* logout & profile */
.user-navbar-logout-container {
	display: flex;
	align-items: center;
	grid: 10px;
}
.user-navbar-icon {
	width: 50px;
	height: 50px;
	border-radius: 8px;
}
.user-navbar-logout-button {
	background: #e7e7e7;
	border-radius: 8px;
	text-align: center;
	color: black;
	font-weight: 600;
	padding: 8px 0;
	width: 175px;
	cursor: pointer;
	margin-right: 10px;
	cursor: pointer;
	border: none;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.user-navbar-logout-buthover {
	background-color: #1d1d72;
}

/* reporting submission */

.user-reporting-submisison-title {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  /* min-height: 10vh */
  /* background-color: cyan; */
  padding-top: 3vh;
  padding-bottom: 2vh;
  font-size: 250%;
}

.user-reporting-submisison-container {
  text-align: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.user-reporting-submisison-options {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
}
/* Responsive Design for cards*/
@media (max-width: 1024px) {
  .user-reporting-submisison-options {
      flex-direction: column;
      gap: 20px;
      align-items: center;
  }

  .user-reporting-submisison-card {
      width: 50%;
      max-width: 400px;
  }
}

.user-reporting-submisison-typing-card {
  width: 400px;
  height: 377px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 26px;
  padding-bottom: 26px;
  background: white;
  box-shadow: 0px 20px 75px rgba(0, 68, 204, 0.25);
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 56px;
  display: inline-flex
}

.user-reporting-submisison-typing-card-format {
  font-size: 20px;
  width: 360px;
  height: 194px;
  text-align: justify;
}

.user-reporting-submisison-typing-card-texts {
  width: 360px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: justify;
}

.user-reporting-submisison-or {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  align-self: center;
}

.user-reporting-submisison-speech-card {
  width: 400px;
  height: 377px;
  padding-left:20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 24px;
  background: white;
  box-shadow: 0px 20px 75px rgba(0, 68, 204, 0.25);
  border-radius: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: inline-flex;
}

.user-reporting-submisison-speech-card-main-format {
  width: 360px;
  height: 232px;
  position: relative;
}

.user-reporting-submisison-speech-card-red-text {
  width: 360px;
  left: 0px;
  top: 205px;
  position: absolute;
  text-align: justify;
  color: #FF0000;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word;
}

.user-reporting-submisison-speech-card-text {
  width: 360px;
  left: 0px;
  top: 0px;
  position: absolute;
  text-align: justify;
}

.user-reporting-submisison-speech-card-format {
  color: black;
  font-size: 20px;
  font-weight: 400;
  word-wrap: break-word
}

.user-reporting-submisison-card-btn {
  width: 250px;
  height: 75px;
  position: relative;
  background: #0044CC;
  box-shadow: 0px 5px 50px rgba(0, 68, 204, 0.25);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-btn-logo {
  width: 60px;
  height: 60px;
  background: white;
  
} */

.user-reporting-submisison-material-symbols-outlined {
  font-size: 72px;
  /* color: white; */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
}

.user-reporting-submisison-talk-icon {
  color: white;
  font-size: 50px !important;
}

.user-reporting-submisison-type-icon {
  font-size: 65px !important;
  color: white;
}

/* police user management */

.police-user-management-container {
  padding-inline: 10vw;
}

.police-user-management-searchbar {
  margin-bottom: 40px;
  margin-top: 120px;
  height: 2.1875rem;
  display: flex;
}

.police-user-management-textfield-container {
  background-color: #303091;
  width: 88.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px 0 0 9px ;
  box-sizing: border-box;
  box-shadow: 0px -15px 75px rgba(0, 68, 204, 0.3)
}

.police-user-management-textfield {
  width: 100%;
  margin-left: -0.5px;
  border-radius: 8px;
  border: none;
  height: 35px;
  box-sizing: border-box;
  outline: none;
  padding: 0 10px;
}

.police-user-management-searchbar-button {
  background: #303091;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 8px 0;
  width: 175px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
  border: none;
  box-shadow: 0px -15px 100px rgba(0, 68, 204, 0.5)
  
}
.police-user-management-searchbar-button:hover {
  background-color: #1d1d72; 
}


.police-user-management-material-symbols-outlined {
  color: white;
}

.police-user-management-overview-issues {
  background-color: white;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 75px rgba(0, 68, 204, 0.25)
}

.police-user-management-overview-issues-header {
  display: flex;
  align-items: center ;
  justify-content: space-between;
}

.police-user-management-overview-text {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
}

.police-user-management-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0px -2px;
  padding-block: -10px;
  padding: -10px 1px 
}

.police-user-management-subtitle {
  font-size: 14px; 
  font-weight: normal; 
  color: #6c757d; 
  margin-top: -20px;
}

.police-user-management-overview-issues-dropdown {
  width: 200px;
  border-radius: 8px;
  justify-self: center;
  font-size: 1rem;
  margin: 34px;
  margin-right: 0;
  background-color: #303091;
  color: white;
  display: flex;
  align-items: center;
  padding: 8px
}

.police-user-management-overview-issues-graph {
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 50px rgba(0, 68, 204, 0.15)
}

.police-user-management-chart {
  height: 300px;
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 10px;
}

.police-user-management-bar {
  width: 6%;
  background-color: #D9D9D9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  border-radius: 8px;
}

.police-user-management-bar.highlighted {
  background-color: #0044cc;
}

.police-user-management-bar span {
  position: absolute;
  bottom: -25px;
  font-size: 14px;
  color: #333;
}

.police-user-management-highlighted {
  background-color: #0044cc;
  color: brown;
}

.police-user-management-bottom {
  display: flex;
  gap: 20px;
  margin-bottom: 15vh;
}

@media (max-width: 1024px) {
  .police-user-management-bottom {
      flex-direction: column;
      
      align-items: center;
      }
  }

.police-user-management-user-per {
  background-color: white;
  border-radius: 8px;
  width: 50%;
  padding: 20px;
  box-shadow: -25px 25px 75px rgba(0, 68, 204, 0.25)

}
.police-user-management-user-per-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.police-user-management-user-per-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100wh;
}

.police-user-management-user-per-chart {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #ffffff; 
  border-radius: 50%;
  box-shadow: 0px 10px 75px rgba(0, 0, 0, 0.2);
}

.police-user-management-user-per-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #0044cc 0% 65%, 
    transparent 65% 70%, 
    #000000 70% 100% 
  );
}

.police-user-management-user-per-inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.police-user-management-user-per-percentage {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.police-user-management-user-per-label {
  font-size: 12px;
  color: #6c6c6c;
  margin: 5px 0 0 0;
}

.police-user-management-issue-solve-per {
  width: 50%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 25px 25px 75px rgba(0, 68, 204, 0.25)
}

.police-user-management-issue-solve-per-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.police-user-management-issue-solve-per-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100wh;
}

.police-user-management-issue-solve-per-chart {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #ffffff; 
  border-radius: 50%;
  box-shadow: 0px 10px 75px rgba(0, 0, 0, 0.2); 
}

.police-user-management-issue-solve-per-circle {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    #0044cc 0% 45%, 
    transparent 45% 50%, 
    #000000 50% 100% 
  );
}

.police-user-management-issue-solve-per-inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.police-user-management-issue-solve-per-percentage {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.police-user-management-issue-solve-per-label {
  font-size: 12px;
  color: #6c6c6c;
  margin: 5px 0 0 0;
}




